body {
    background-color: chocolate;
    text-align: center;
}

  
  .pet-card {
    margin: 15px 0px
   
  }

  .petSkill {
    height: 50px;
    overflow: scroll;
  }

  #pets{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 25px; 
    
  }


  .card-img-top {
    height: 280px;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
    margin: 0 auto;
  }

 